<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    
</head>
<body>

<section class="py-3 py-md-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="../../../assets/contactimg.jpg" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Contact Us</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7835664152694!2d77.72459687385502!3d12.985690487330961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11f1f0a793a3%3A0x10116e6e67cb31d9!2sMercedes-Benz%20Research%20%26%20Development%20India!5e0!3m2!1sen!2sin!4v1699247115279!5m2!1sen!2sin" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <p class="lead fs-4 text-secondary mb-3">Plot No. 5-P, 1, Whitefield Main Rd, near Satya Sai Baba Hospital, EPIP Zone, Hoodi, Bengaluru, Karnataka 560066</p>
              <p class="mb-5"><i class="fa fa-phone" aria-hidden="true"></i> : +91 8061506600 <br> <i class="fa fa-window-restore" aria-hidden="true"></i> : <a href="http://mbrdi.co.in/">Mbrdi</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </body>
  </html>