<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<section class="py-3 py-md-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="../../../assets/aboutimg.jpg" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">We help the HR, the administrator of any organization to edit and find out the personal details of an employee and allows the employee to keep up to date with his profile.</p>
              <p class="mb-5">It’ll also facilitate keeping all the records of employees, such as their id, name, mailing address, phone number, DOB, etc. So all the information about an employee will be available in a few seconds.</p>
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Team 
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Chinmayakrishna B</li>
                      <li class="list-group-item">Kavya</li>
                      <li class="list-group-item">Priyanka</li>
                      <li class="list-group-item">Vibha</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </body>
  </html>