<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/ems.png" alt="EMS Logo" height="40">&nbsp;&nbsp;&nbsp; Employee Management System</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse stick" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['aboutus']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['contact']">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['notification']"*ngIf="isLoggedInNow()"><i class="fa fa-globe fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['hr/',hrEid]"  *ngIf="ishr()"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['login']" *ngIf="!isLoggedInNow()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logoutNow()"*ngIf="isLoggedInNow()" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Add your page content here -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
